<div class="title">
      <h1>My Events</h1>
</div>

<div class="row">
  <div class="map columns large-6 small-12">
    <iframe
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD3BBLjwLgmwjnEMdiWtfCvFifP-KOkWXI
        &q=Park+Plaza+Castle,Boston+MA">
    </iframe>
  </div>

  <div class="event-info columns large-6 small-12">
    <h2 class="event-title">Wine Riot</h2>
    <table>
      <tr>
        <td>Date:</td>
        <td>3/4/15</td>
      </tr>
      <tr>
        <td>Location:</td>
        <td>Castle at Park Plaza</td>
      </tr>
      <tr>
        <td>Project Manager:</td>
        <td>Alex Brandt</td>
      </tr>
    </table>

  </div>
</div>

