<!DOCTYPE html>
<html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Event Illuminations</title>
    <link rel="stylesheet" href="/css/vendor/normalize.css" />
    <link rel="stylesheet" href="/css/vendor/foundation.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Event Illuminations</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a href="#">Past Events</a></li>
          <li class="has-dropdown">
            <a href="#">My Account</a>
            <ul class="dropdown">
              <li><a href="#">My Timesheets</a></li>
              <li class="active"><a href="#">Log Out</a></li>
            </ul>
          </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="#">Upcoming Events</a></li>
        </ul>
      </section>
    </nav>

    <%= yield %>

    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
